:root {
--line-height: 1.2;
--spacing: 0.3rem;
}

h2{
  --typography-spacing-vertical: 0.5rem;
}

/* Make readonly inputs appear visually dimmed compared to editable inputs */
input[readonly], textarea[readonly], select[disabled], input[disabled] {
  background-color: darkslategray;
  cursor: default;
}



